.detail-image-position {
    @include set-background-center;
}
.select-block {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px 15px;
}
@media (max-width: 768px) {
    .detail-margin-mobile {
        margin-top: 32px;
    }
    .detail-image-position {
        height: 450px !important;
        margin-bottom: 16px;
    }
}