.filter-bar {
    .filter {
        color: $brown;
        font-weight: normal;
        cursor: pointer;
    }
}
.filter-active {
    background: $brown !important;
    color: $white !important;
    i {
    color: $white !important;
    }
}