.filter-bar {
  .filter {
    color: #8d6a5c;
    font-weight: normal;
    cursor: pointer;
  }
}
.filter-active {
  background: #8d6a5c !important;
  color: $white !important;
  i {
    color: $white !important;
  }
}
