.image-spotlight {
    width: 100%;
    height: 300px;
    @include set-background-center;
}
.image-about {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    @include set-background-center;
}
.image-product {
    @include set-background-center;
    width: 100%;
    height: 240px;
    cursor: pointer;
}
.image-banner {
    height: calc(100vh - 80px - 96px);
    @include set-background-center;
}

@media (max-width: 768px) {
    .image-banner {
        height: calc(100vh - 60px - 96px);
    }
}

@media (max-width: 414px) {
    .image-banner {
        height: calc(100vh - 60px - 144px);
    }
}