.navbar-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar-home-mobile {
    display: none;
}
.navbar-link {
    text-decoration: none !important;
}
.navbar-select {
    display: none;
}
.navbar-open {
    height: auto !important;
}
@media (max-width: 768px) {
    .navbar-frame {
        display: block;
        height: 0px;
        overflow: hidden;
    }
    .navbar-home {
        display: none;
    }
    .navbar-home-mobile {
        display: block;
        margin-bottom: 16px;
    }
    .navbar-link {
        display: block;
        background: $brown;
        color: white !important;
        border: 1px solid $secondary;
        margin-top: 5px;
        padding: 10px 0;
    }
    .navbar-select {
        display: block !important;
        width: 100%;
    }
}