.p-sticky {
    position: sticky;
    top: 0;
    left: 0;
}
.height-100vh {
    height: 100vh;
}
.homepage-circle {
    width: 600px;
    height: 600px;
    position: absolute;
    right: 0;
    background: $brown;
    opacity: 0.3;
    border-radius: 50%;
    transform: translate(-20%, -60%);
    z-index: -1;
}
.spotlight-link {
    cursor: pointer;
}
.spotlight-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 0;
    transition: opacity 0.3s;
    &:hover {
        opacity: 1;
    }
}
.spotlight-link {
    cursor: pointer;
}
.spotlight-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 0;
    transition: opacity 0.3s;
    &:hover {
        opacity: 1;
    }
}
// login
.login-width {
    width: 300px;
}
// login
.text-overhidden {          // 優惠券字串過大要隱藏為...
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-search {
    height: 40px;
}

.text-brown-light {
    color: $brown-light;
}

.bg-brown-light {
    background: $brown-light;
}
.bg-gray {
    background: $gray;
}
#part2 {
    height: calc(100vh - 176px);
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .homepage-content h2 {
        font-family: 'Black Han Sans', sans-serif;
        color: $brown;
    }
    .homepage-content p {
        font-size: 14px;
        color: $secondary;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .homepage-link-line {
        height: 2px;
        width: 0px;
        background: $brown;
        border-width: 0px;
        margin: 0px;
        margin-left: auto;
        transition: width 0.5s;
    }
    .homepage-link {
        text-decoration: none;
        color: $secondary;
        &:hover {
            small {
                color: darken($secondary, 30%);
            }
            .homepage-link-line {
                width: 52px;
            }
        }
    }
}
@media (max-width: 768px) {
    .p-sticky {
        position: relative;
        margin-top: 16px;
    }
    .height-100vh {
        height: auto;
    }
    #part2 {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        .homepage-link-line {
            margin-bottom: 100px;
        }
    }
}
