// mixin
@mixin set-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin set-absolute($y, $x) {
    position: absolute;
    #{$y}: 0;   // $y is top or bottom
    #{$x}: 0;   // $x is right or left
}
@mixin set-background-center {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
@mixin draw-thick-line($line-width, $color) {
    display: block;
    border: 0;
    border-top: #{$line-width}px solid $color;
}
// mixin

// general
.text-overhidden {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.height-100vh {
    height: 100vh;
}
// general

// login
.login-width {
    width: 300px;
}
// login

// product detail
.detail-image-position {
    @include set-background-center;
}
.detail-line {
    @include draw-thick-line(2, $gray-500)
}
// product detail

// product main
.main-image {
    @include set-background-center;
    width: 150px;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
// procuct main

// banner 
.banner-image {
    height: 500px;
    @include set-background-center;
}
.bg-transparent-black {
    background: rgba(0, 0, 0, 0.7);
}
// banner

// navbar
.navbar-link {
    text-decoration: none !important;
}
// navbar

// sidebar
.sidebar-line {
    @include draw-thick-line(1, $brown-light);
}
.sidebar {
    background: $brown;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}
// sidebar

// topbar 
.input-search {
    height: 40px;
}
// topbar