.p-sticky {
    position: sticky;
    top: 0;
    left: 0;
}
.height-100vh {
    height: 100vh;
}
.spotlight-link {
    cursor: pointer;
}
// login
.login-width {
    width: 300px;
}
// login
.text-overhidden {          // 優惠券字串過大要隱藏為...
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-search {
    height: 40px;
}

@media (max-width: 768px) {
    .p-sticky {
        position: relative;
        margin-top: 16px;
    }
    .height-100vh {
        height: auto;
    }
}
